* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f6d7a7;
}

.container {
  width: 90%;
  height: 90%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 60px;
}

h1 {
  font-size: 5em;
  text-wrap: wrap;
  color: 0F2C59;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
h3 {
  font-size: 1.65em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
button {
  padding: 15px 20px;
  color: white;
  background-color: #ffffff71;
  border-radius: none;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
button:focus {
  color: #ffffff71;
  background-color: #f2c591;
}

#grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 80vw;
  width: 80vw;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.25s;
}

.blank-card {
  height: 12.5vw;
  width: 12.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.25s;
  background-image: url(./images/person-hilariously-photoshops-animals-onto-random-things-xx-photos-25.webp);
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.no-color {
  background-color: red;
  opacity: 0.5;
  width: 12.5vw;
  height: 12.5vw;
}

.solid-color {
  background-color: red;
  background-image: url(./images/person-hilariously-photoshops-animals-onto-random-things-xx-photos-25.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  width: 12.5vw;
  height: 12.5vw;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
    justify-content: center;
  }
  button {
    padding: 8px 8px;
    color: whitesmoke;
    background-color: rgb(190, 17, 1);
    border: none;
    font-size: 0.75em;
    letter-spacing: 0em;
    font-weight: 200;
    flex-wrap: wrap;
  }
  h3 {
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  #grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    gap: 2px;
    transform-style: preserve-3d;
    perspective: 500;
    margin: 10px;
    border: none;
  }
  .grid-item {
    height: 16%;
    width: 16%;
    /* border: 5px purple solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 600px) and (max-width: 600px) {
  body {
    background-color: #ffc436;
  }
  .container {
    background-color: #ffc436;
  }
  h1 {
    font-size: 2rem;
    letter-spacing: 0.01rem;
  }
  button {
    padding: 8px 8px;
    color: whitesmoke;
    background-color: rgb(1, 116, 190);
    border: none;
    font-size: 0.75em;
    letter-spacing: 0em;
    font-weight: 400;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
  }
  h3 {
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  #grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    gap: 2px;
    transform-style: preserve-3d;
    perspective: 500;
    margin: 10px;
    border: none;
  }
  .grid-item {
    height: 16%;
    width: 16%;
    /* border: 5px purple solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 601px) and (max-width: 689px) {
  body {
    background-color: #ffc436;
  }
  .container {
    background-color: #ffc436;
  }
  h1 {
    font-size: 2.8rem;
    letter-spacing: 0.01rem;
  }
  button {
    padding: 5px 5px;
    color: whitesmoke;
    background-color: rgb(12, 53, 106);
    border: none;
    font-size: 0.75em;
    letter-spacing: 0em;
    font-weight: 400;
    flex-wrap: wrap;
  }
  h3 {
    font-size: 1em;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
    flex-wrap: wrap;
  }
  #grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    gap: 2px;
    transform-style: preserve-3d;
    perspective: 500;
    margin: 10px;
    border: none;
  }
  .grid-item {
    height: 16%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 690px) and (max-width: 767px) {
  body {
    background-color: #445069;
  }
  .container {
    background-color: #445069;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 0rem;
    color: sandybrown;
  }
  h3 {
    font-size: 1.5rem;
    color: sandybrown;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  button {
    padding: 15px 15px;
    color: whitesmoke;
    background-color: F7E987;
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    gap: 2px;
    transform-style: preserve-3d;
    perspective: 500;
    border: none;
  }
  .grid-item {
    height: 15%;
    width: 14.2%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: 768px) and (max-width: 924px) {
  body {
    background-color: #6a7efc;
  }
  .container {
    background-color: #6a7efc;
  }
  h1 {
    font-size: 3rem;
    letter-spacing: 0rem;
  }
  h3 {
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  button {
    padding: 18px 18px;
    color: whitesmoke;
    background-color: #494953;
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .grid-item {
    height: 75px;
    width: 75px;
  }
  #grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    gap: 2px;
    transform-style: preserve-3d;
    perspective: 500;
    margin: 10px;
    border: none;
  }
  .grid-item {
    height: 16%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 925px) and (max-width: 990px) {
  h1 {
    font-size: 5rem;
    letter-spacing: 0rem;
  }
  h3 {
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  button {
    padding: 18px 18px;
    color: whitesmoke;
    background-color: rgb(116, 142, 99);
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    gap: 2px;
    transform-style: preserve-3d;
    perspective: 500;
    margin: 10px;
    border: none;
  }
  .grid-item {
    height: 16%;
    width: 15.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 990px) and (max-width: 1400px) {
  h1 {
    font-size: 5rem;
    letter-spacing: 0rem;
  }
  h3 {
    font-size: 2rem;
    color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  button {
    padding: 18px 18px;
    color: whitesmoke;
    background-color: #f94c10;
    border: none;
    font-size: 1.1rem;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .grid-item {
    height: 75px;
    width: 75px;
  }
  #grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    gap: 2px;
    transform-style: preserve-3d;
    perspective: 500;
    margin: 10px;
    border: none;
  }
  .grid-item {
    height: 16%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 1700px) {
  h1 {
    font-size: 10rem;
    letter-spacing: 0rem;
  }
  h3 {
    font-size: 3.5rem;
    color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  button {
    padding: 25px 25px;
    color: whitesmoke;
    background-color: blue;
    border: none;
    font-size: 2rem;
    letter-spacing: 0.2em;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .grid-item {
    height: 175px;
    width: 175px;
  }
  #grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    gap: 2px;
    transform-style: preserve-3d;
    perspective: 500;
    margin: 10px;
    border: none;
  }
  .grid-item {
    height: 16%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    background-size: cover;
    background-position: center;
  }
}
@media (min-width: 1457px) {
  h1 {
    font-size: 10rem;
    letter-spacing: 0rem;
  }
  h3 {
    font-size: 3.5rem;
    color: black;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  button {
    padding: 25px 25px;
    color: whitesmoke;
    background-color: blue;
    border: none;
    font-size: 2rem;
    letter-spacing: 0.2em;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .grid-item {
    height: 175px;
    width: 175px;
  }
  #grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vw;
    width: 80vw;
    gap: 2px;
    transform-style: preserve-3d;
    perspective: 500;
    margin: 10px;
    border: none;
  }
  .grid-item {
    height: 16%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.25s;
    background-size: cover;
    background-position: center;
  }
}
